<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.tt.fancycoverflow">

    <application
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/FancyCoverFlowTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".example.SimpleExample"
            android:label="@string/activity_label_simple"/>

        <activity
            android:name=".example.ViewGroupExample"
            android:label="@string/activity_label_viewgroup"/>

        <activity
            android:name=".example.ViewGroupReflectionExample"
            android:label="@string/activity_label_viewgroupreflection"/>

        <activity
            android:name=".example.XmlInflateExample"
            android:label="@string/activity_label_inflate_xml"
            />
    </application>

</manifest>